/* Importing a Google Font */



/* Changing the main font and background colour */

body {
	font-family:'Fira Sans Condensed', sans-serif;
	background-color: #f3de2c;
}

/* Changing the background colour for the header */

header {
	background-color: #7cb518;
}

.carousel-caption {
	color: white;
	text-shadow: 3px 3px 10px black
}
/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fbb20d;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
footer {
	color: #fb6107
}
footer div {
	background-color: #fbbd20
}
/* Corporate navbar */

#navbar-corporate a.active {
	color: #fb6107;
	font-weight: bold;
}
